

@using Models.Framework
@model LopHoc

@{
    ViewBag.Title = "ChiTietLopHoc";
    Layout = "~/Views/Shared/_TemLayout.cshtml";

}
@section masterjs{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".content-comment").hide
            $(".traloi").hide()
            $(".fa-sort-up").click(function () {
                $(".content-comment").hide();
            });
            $(".fa-sort-down").click(function () {
                $(".content-comment").show()
            });

            $(".mt-1").click(function () {
                $(".traloi").toggle();
            });
        });

        var feild = document.querySelector('textarea');
        var backUp = feild.getAttribute('placeholder');
        var btn = document.querySelector('.btn1');
        var clear = document.getElementById('clear')

        feild.onfocus = function () {
            this.setAttribute('placeholder', '');
            this.style.borderColor = '#333';
            btn.style.display = 'block'
        }

        feild.onblur = function () {
            this.setAttribute('placeholder', backUp);
            this.style.borderColor = '#aaa'
        }


        $(".clear").click(function () {
            $(this).closest(".coment-bottom.bg-white.p-2.px-4").find(".traloi").hide();
            feild.value = '';
        });
    </script>
}

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/Content/Template/plugins/fontawesome-free/css/all.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link href="~/Content/Template/dist/css/adminlte.css" rel="stylesheet" />
<style>
    .col-md-8 {
        height: auto;
    }

    .col-md-4 .card-footer {
        height: 300px;
        text-align: center;
        padding-top: 30px;
    }

        .col-md-4 .card-footer button {
            background-color: #f05123;
            color: white;
            font-size: 15px;
            outline: 0;
            margin-top: -15px;
            padding: 8px 35px 8px 35px;
            border-radius: 10px 10px 10px 10px;
        }

    .conten1 {
        max-width: 100%;
        height: 400px;
        border: 1px solid red;
    }

    .conten2 {
        max-width: 100%;
        min-height: 250px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .conten3 {
        max-width: 100%;
        min-height: 500px;
        height: auto;
        margin-bottom: 20px;
    }


    .container {
        width: 100%;
        padding: 0;
    }

    .bdge {
        height: 21px;
        background-color: orange;
        color: #fff;
        font-size: 11px;
        padding: 8px;
        border-radius: 4px;
        line-height: 3px
    }

    .comments {
        text-decoration: underline;
        text-underline-position: under;
        cursor: pointer
    }

    .dot {
        height: 7px;
        width: 7px;
        margin-top: 3px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block
    }

    .hit-voting:hover {
        color: blue
    }

    .hit-voting {
        cursor: pointer
    }

    .row {
        margin: 0 auto;
    }

    .d-flex {
        padding: 0;
    }

    .binhluan {
        width: 125px;
    }

    .content-comment {
        clear: both;
        height: 150px;
        width: 100%;
        margin-left: 15px;
    }

    textarea {
        height: 30px;
        width: 100%;
        border: none;
        border-bottom: 2px solid #aaa;
        background-color: transparent;
        margin-bottom: 10px;
        resize: none;
        outline: none;
        transition: .5s
    }

    .traloi {
    }

    .btn1 {
        float: right;
    }

    .clear {
        padding: 10px 15px;
        border: none;
        outline: none;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        color: #333;
        background-color: transparent
    }

    #binhluan {
        border: none;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        box-shadow: none;
        padding: 7px 15px 7px 15px;
        border-radius: 5px;
    }

    svg {
        width: 20px;
    }

    .card-footer ul {
        display: inline-block;
        text-align: left;
        padding: 24px 0 10px 20px;
        margin: 0;
        list-style: none;
    }

        .card-footer ul li {
            line-height: 32px;
        }

            .card-footer ul li span {
                padding-left: 10px;
            }
</style>
@if (TempData["testmsg"] != null)
{
    <div class="alert alert-info col-md-9 offset-md-2">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-exclamation-triangle"></i> Thông báo!</h5>
        @TempData["testmsg"]
    </div>

}
<div class="row">
    <!-- /.col -->


    <div class="col-md-8">
        <div>
            <section class="content">
                <!-- Default box -->
                <div class="card card-solid">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <h3 class="d-inline-block d-sm-none">@Model.tenLopHoc</h3>
                                <div class="col-12">
                                   @if (!string.IsNullOrEmpty(Model.hinh))
                                    {
                                        <img src="~/@Model.hinh" class="product-image" alt="Product Image">
                                    }
                                    else
                                    {
                                        <img src="https://static.vecteezy.com/system/resources/previews/001/881/787/non_2x/online-classes-virtual-classroom-concept-vector.jpg" class="product-image" alt="Product Image">
                                    }
                                </div>
                                @using (Html.BeginForm("UpimgLop", "MoLop", Model, FormMethod.Post, new { enctype = "multipart/form-data", @class = "row" }))
                                {
                                    <button type="submit" class="btn btn-info col-12 col-sm-6" onclick="return confirm('Xác nhận đổi ảnh')">Đổi ảnh lớp học</button>
                                    <input type="file" class="form-control col-12 col-sm-6" placeholder="hình" name="img" required />
                                }
                            </div>
                            <div class="col-12 col-sm-6">

                                @using (Html.BeginForm("Edit", "MoLop", FormMethod.Post))
                                {
                                    @Html.HiddenFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })

                                <div class="form-group">
                                    <label for="diachi">Tên lớp học</label>
                                    @Html.TextBoxFor(model => model.tenLopHoc, new { @type = "text", @class = "form-control form-control-border", @id = "diachi", @placeholder = "Chưa có tên lớp" })
                                </div>
                                <div class="form-group">
                                    <label for="diachi">Mô tả</label>
                                    @Html.TextBoxFor(model => model.mota, new { @type = "text", @class = "form-control form-control-border", @id = "diachi", @placeholder = "Chưa có mô tả" })
                                </div>
                                <div class="form-group">
                                    <label for="diachi">Điều kiện vào lớp</label>
                                    @Html.TextBoxFor(model => model.yeucau, new { @type = "text", @class = "form-control form-control-border", @id = "diachi", @placeholder = "Bất kỳ ai" })
                                </div>
                                <div class="form-group">
                                    <label for="diachi">Số lượng học viên</label>
                                    @Html.TextBoxFor(model => model.soluong, new { @type = "number", @class = "form-control form-control-border", @id = "diachi", @placeholder = "Chưa có mô tả" })
                                </div>
                                <div class="form-group">
                                    <label for="diachi">Trạng thái</label> @* chuyển thành cbb *@
                                    <select class="custom-select form-control-border border-width-2" id="status" name="trangthai">
                                        <option value="0">Đang tuyển sinh</option>
                                        <option value="1">Ngừng tuyển sinh</option>
                                        <option value="2" disabled>Đang học</option>
                                        <option value="3" disabled>Đã kết thúc</option>
                                    </select>

                                </div>


                                <button type="submit" class="btn btn-primary float-right" onclick="return confirm('Xác nhân cập nhật?')">Cập nhật</button>


                            }

                            </div>
                        </div>
                        <div class="mt-4">
                            <nav class="w-100">
                                <div class="nav nav-tabs" id="product-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="product-comments-tab" data-toggle="tab" href="#product-comments" role="tab" aria-controls="product-comments" aria-selected="false">Comments</a>
                                    <a class="nav-item nav-link" id="product-rating-tab" data-toggle="tab" href="#product-rating" role="tab" aria-controls="product-rating" aria-selected="false">Rating</a>
                                </div>
                            </nav>
                            <div class="tab-content p-3" id="nav-tabContent">

                                <div class="tab-pane fade show active" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab">
                                    <div class="d-flex flex-column col-md-12">
                                        @*<div class="d-flex flex-row add-comment-section mt-4 mb-4 border-bottom px-4">*@
                                        @*<div class="d-flex flex-row align-items-center text-left comment-top p-2 bg-white border-bottom px-4">*@

                                        @using (Html.BeginForm("BinhLuan", "MoLop", new { idlh = Model.ID, idtk = Model.Giangvien.TaiKhoan.iD }, FormMethod.Post, new { @class = "d-flex flex-row align-items-center text-left comment-top p-2 bg-white border-bottom px-4" }))
                                        {
                                            if (!string.IsNullOrEmpty(Model.Giangvien.TaiKhoan.hinh))
                                            {
                                                <img class="img-fluid img-responsive rounded-circle mr-2" src="~/@Model.Giangvien.TaiKhoan.hinh" width="50">
                                            }
                                            else
                                            {<img class="img-fluid img-responsive rounded-circle mr-2" src="https://i.imgur.com/q52cLwE.png" width="50">}
                                            <input type="text" class="form-control m-3" placeholder="Bình luận công khai..." name="noidung" required>
                                            <button class="btn btn-primary binhluan" type="submit">Bình luận</button>
                                        }


                                        <div class="coment-bottom bg-white p-2 px-4">

                                            @foreach (var item in Model.BinhLuans)
                                            {
                                                if (item.BinhLuan2 == null)
                                                {
                                                    <div class="commented-section mt-2">
                                                        <div class="d-flex flex-row align-items-center commented-user">

                                                            <h5 class="mr-2">
                                                                @if (!string.IsNullOrEmpty(item.TaiKhoan.hinh))
                                                                {
                                                                    <img class="img-fluid img-responsive rounded-circle mr-2" src="~/@item.TaiKhoan.hinh" width="38">
                                                                }
                                                                else
                                                                {<img class="img-fluid img-responsive rounded-circle mr-2" src="https://i.imgur.com/q52cLwE.png" width="38">}
                                                                @item.TaiKhoan.hovaten
                                                            </h5>
                                                            <span class="dot mb-1"></span>
                                                            <span class="mb-1 ml-2">
                                                                @{
                                                                    string da = (DateTime.Now - item.thoiGian).ToString();

                                                                    if (da.Split('.').Length == 3)
                                                                    {
                                                                        if (int.Parse(da.Split('.')[0]) >= 365)
                                                                        {
                                                                            da = (int.Parse(da.Split('.')[0]) / 365).ToString() + " năm";
                                                                        }
                                                                        else if (int.Parse(da.Split('.')[0]) > 30)
                                                                        {
                                                                            da = (int.Parse(da.Split('.')[0]) / 30).ToString() + " tháng";
                                                                        }
                                                                        else
                                                                        {
                                                                            da = da.Split('.')[0] + " ngày";
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        if (da.Split('.')[0].Split(':')[0] == "00")
                                                                        {
                                                                            da = da.Split('.')[0].Split(':')[1] + " phút";
                                                                        }
                                                                        else
                                                                        {
                                                                            da = da.Split('.')[0].Split(':')[0] + " giờ";
                                                                        }
                                                                    }
                                                                    @da
                                                                }
                                                            </span>
                                                        </div>
                                                        <div class="comment-text-sm"><span>@item.noiDung</span></div>
                                                        <div class="reply-section">
                                                            <div class="d-flex flex-row align-items-center voting-icons">
                                                                <i class="fa fa-sort-up fa-2x mt-3 hit-voting"></i>
                                                                <i class="fa fa-sort-down fa-2x mb-3 hit-voting"></i>
                                                                <span class="ml-2">@item.BinhLuan1.Count()</span>
                                                                <span class="dot ml-2"></span>
                                                                <h6 class="ml-2 mt-1">Trả lời</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    if (item.BinhLuan1.Count() != 0)
                                                    {
                                                        foreach (var it in item.BinhLuan1)
                                                        {
                                                            <div class="content-comment">
                                                                <div class="commented-section mt-2">
                                                                    <div class="d-flex flex-row align-items-center commented-user">
                                                                        <h5 class="mr-2">
                                                                            @if (!string.IsNullOrEmpty(it.TaiKhoan.hinh))
                                                                            {
                                                                                <img class="img-fluid img-responsive rounded-circle mr-2" src="~/@it.TaiKhoan.hinh" width="38">
                                                                            }
                                                                            else
                                                                            {<img class="img-fluid img-responsive rounded-circle mr-2" src="https://i.imgur.com/q52cLwE.png" width="38">}
                                                                            @it.TaiKhoan.hovaten
                                                                        </h5>
                                                                        <span class="dot mb-1"></span>
                                                                        <span class="mb-1 ml-2">
                                                                            @{
                                                                                string dat = (DateTime.Now - it.thoiGian).ToString();

                                                                                if (dat.Split('.').Length == 3)
                                                                                {
                                                                                    if (int.Parse(dat.Split('.')[0]) >= 365)
                                                                                    {
                                                                                        dat = (int.Parse(dat.Split('.')[0]) / 365).ToString() + " năm";
                                                                                    }
                                                                                    else if (int.Parse(dat.Split('.')[0]) > 30)
                                                                                    {
                                                                                        dat = (int.Parse(dat.Split('.')[0]) / 30).ToString() + " tháng";
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        dat = dat.Split('.')[0] + " ngày";
                                                                                    }
                                                                                }
                                                                                else
                                                                                {
                                                                                    if (dat.Split('.')[0].Split(':')[0] == "00")
                                                                                    {
                                                                                        dat = dat.Split('.')[0].Split(':')[1] + " phút";
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        dat = dat.Split('.')[0].Split(':')[0] + " giờ";
                                                                                    }
                                                                                }
                                                                                @dat
                                                                            }
                                                                        </span>
                                                                    </div>
                                                                    <div class="comment-text-sm"><span>@it.noiDung</span></div>
                                                                    <div class="reply-section">
                                                                        <div class="d-flex flex-row align-items-center voting-icons">
                                                                            <i class="fa fa-sort-up fa-2x mt-3 hit-voting"></i>
                                                                            <i class="fa fa-sort-down fa-2x mb-3 hit-voting"></i>
                                                                            <span class="ml-2">@it.BinhLuan1.Count()</span>
                                                                            <span class="dot ml-2"></span>
                                                                            <h6 class="ml-2 mt-1">Trả lời</h6>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                    <div class="traloi">
                                                        @using (Html.BeginForm("BinhLuan", "MoLop", new { tk = Model.Giangvien.TaiKhoan, lh = Model, idcha = item.ID }, FormMethod.Post))
                                                        {
                                                            <textarea placeholder='Bình luận công khai...' name="noidung"></textarea>
                                                            <div class="btn1">
                                                                <button class='clear'>Hủy</button>
                                                                <input id="binhluan" type="submit" value='Bình Luận'>
                                                            </div>
                                                        }

                                                    </div>
                                                    <hr />
                                                }
                                            }


                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="product-rating" role="tabpanel" aria-labelledby="product-rating-tab"> Cras ut ipsum ornare, aliquam ipsum non, posuere elit. In hac habitasse platea dictumst. Aenean elementum leo augue, id fermentum risus efficitur vel. Nulla iaculis malesuada scelerisque. Praesent vel ipsum felis. Ut molestie, purus aliquam placerat sollicitudin, mi ligula euismod neque, non bibendum nibh neque et erat. Etiam dignissim aliquam ligula, aliquet feugiat nibh rhoncus ut. Aliquam efficitur lacinia lacinia. Morbi ac molestie lectus, vitae hendrerit nisl. Nullam metus odio, malesuada in vehicula at, consectetur nec justo. Quisque suscipit odio velit, at accumsan urna vestibulum a. Proin dictum, urna ut varius consectetur, sapien justo porta lectus, at mollis nisi orci et nulla. Donec pellentesque tortor vel nisl commodo ullamcorper. Donec varius massa at semper posuere. Integer finibus orci vitae vehicula placerat. </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </section>
        </div>

    </div>

    <!-- /.col -->
    <div class="col-md-4">
        <!-- đổi thành danh sách học viên có confirm học viên -->
        <!-- Profile Image -->
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <a href="~/GiaoVien/Info" class="d-block">
                    <div class="text-center">
                        @if (!string.IsNullOrEmpty(Model.Giangvien.TaiKhoan.hinh))
                        {
                            <img class="profile-user-img img-fluid img-circle"
                                 src="~/@Model.Giangvien.TaiKhoan.hinh"
                                 alt="User profile picture">
                        }
                        else
                        {
                            <img class="profile-user-img img-fluid img-circle"
                                 src="https://i.imgur.com/q52cLwE.png"
                                 alt="User profile picture">
                        }
                    </div>
                    <h3 class="profile-username text-center">@Model.Giangvien.TaiKhoan.hovaten</h3>
                </a>



                <div>
                    <div class="card-header">
                        <h3 class="card-title">Thông tin</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fas fa-book mr-1"></i>Giới thiệu</strong>
                        <p class="text-muted">
                            @Model.Giangvien.gioithieu
                        </p>

                        <hr>
                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Quê quán</strong>
                        <p class="text-muted">@Model.Giangvien.diachi</p>

                        <hr>
                        <strong><i class="fas fa-envelope"></i> Email</strong>
                        <p class="text-muted">@Model.Giangvien.email</p>

                        <hr>
                        <strong><i class="fas fa-phone"></i>Di động</strong>
                        <p class="text-muted">@Model.Giangvien.sdt</p>

                        <hr>
                        <strong><i class="fas fa-pencil-alt mr-1"></i> Kỹ năng</strong>
                        <p class="text-muted">
                            @foreach (var item in Model.Giangvien.KyNangGiangViens)
                            {
                            <p class="tag tag-info">@item.KyNang.tenKyNang : @item.CapDo.tenCapDo</p>
                            }
                            </p>


                        </div>
                        <!-- /.card-body -->
                    </div>

                </div>
                <!-- /.card-body -->
            </div>


            <!-- /.widget-user -->
        </div>

</div>

    <!-- /.row -->
<script>
    $(function () {
        
        $('#status option[value="@Model.trangThai"]').attr("selected", true);
        if (@Model.trangThai > 1) {            
            $('#status').attr("disabled", true);
        }
    });
    
</script>
    