@model  Models.Framework.LopHoc
<div class="modal fade" id="modal-edit-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cập nhật lớp học</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.ID, new { @class = "form-control" })

                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tên lớp</label>
                        @Html.TextBoxFor(model => model.tenLopHoc, new { @class = "form-control", @id = "className", @placeholder = "Tên lớp" })
                        @Html.ValidationMessageFor(Model => Model.tenLopHoc, "", new { @class = "text-danger", @id = "className", @placeholder = "Tên lớp" })
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Số lượng</label>
                        @Html.TextBoxFor(model => model.soluong, new { @class = "form-control", @type = "number" })
                        @Html.ValidationMessageFor(Model => Model.soluong, "", new { @class = "text-danger", @type = "number" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Ngày khai giảng</label>
                        @Html.TextBoxFor(model => model.ngayBegin, new { @class = "form-control", @type = "date" })
                        @Html.ValidationMessageFor(Model => Model.ngayBegin, "", new { @class = "text-danger", @type = "date" })

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Chọn kỹ năng</label>

                    </div>
                    <div class="form-group row ">
                        <div class="custom-control custom-checkbox col-md-3">
                            <input class="custom-control-input" name="Listening" type="checkbox" id="customCheckbox1" checked value="true">
                            <label for="customCheckbox1" class="custom-control-label">Listening</label>

                            <select class="form-control form-control-sm col-md-5" style="display:inline-block;" name="lvListening">
                                <option value="1">LV 1</option>
                                <option value="2">LV 2</option>
                                <option value="3">LV 3</option>
                                <option value="4">LV 4</option>
                            </select>

                        </div>
                        <div class="custom-control custom-checkbox col-md-3">
                            <input class="custom-control-input" name="Speaking" type="checkbox" id="customCheckbox2" checked value="true">
                            <label for="customCheckbox2" class="custom-control-label">Speaking</label>

                            <select class="form-control form-control-sm col-md-5" style="display:inline-block;" name="lvSpeaking">
                                <option value="1">LV 1</option>
                                <option value="2">LV 2</option>
                                <option value="3">LV 3</option>
                                <option value="4">LV 4</option>
                            </select>
                        </div>
                        <div class="custom-control custom-checkbox col-md-3">
                            <input class="custom-control-input" name="Reading" type="checkbox" id="customCheckbox3" checked value="true">
                            <label for="customCheckbox3" class="custom-control-label">Reading</label>

                            <select class="form-control form-control-sm col-md-5" style="display:inline-block;" name="lvReading">
                                <option value="1">LV 1</option>
                                <option value="2">LV 2</option>
                                <option value="3">LV 3</option>
                                <option value="4">LV 4</option>
                            </select>
                        </div>
                        <div class="custom-control custom-checkbox col-md-3">
                            <input class="custom-control-input" name="Writing" type="checkbox" id="customCheckbox4" checked value="true">
                            <label for="customCheckbox4" class="custom-control-label">Writing</label>

                            <select class="form-control form-control-sm col-md-5" style="display:inline-block;" name="lvWriting">
                                <option value="1">LV 1</option>
                                <option value="2">LV 2</option>
                                <option value="3">LV 3</option>
                                <option value="4">LV 4</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Số tháng</label>
                        <input type="number" class="form-control" id="dayStudy" placeholder="Số tháng" name="sothang">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Số buổi trong tuần</label>
                        @Html.TextBoxFor(model => model.soBuoi, new { @class = "form-control", @placeholder = "Số buổi trong tuần" })
                        @Html.ValidationMessageFor(Model => Model.soBuoi, "", new { @class = "text-danger", @placeholder = "Số buổi trong tuần" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Chọn ảnh</label>
                        <div class="input-group">
                            <div class="custom-file">
                                @Html.TextBoxFor(model => model.hinh, new { @class = "form-control", @type = "file", @id = "exampleInputFile" })
                                @Html.ValidationMessageFor(Model => Model.hinh, "", new { @class = "text-danger", @type = "file", @id = "exampleInputFile" })
                                <label class="custom-file-label" for="exampleInputFile">Chọn từ trong máy của bạn</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary" onclick="return confirm('Xác nhận thay đổi?')">Lưu thay đổi</button>
                    </div>
                </div>
                }
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

