@using Models.Framework
@model TaiKhoan

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    @foreach (var role in Roles.GetRolesForUser())
    {
        <a href="http://localhost:52790/@role/" class="brand-link">
            <img src="@Url.Content("~/Content/Template/dist/img/"+@role+".png")" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">@role</span>
        </a>
    }
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                @try
                {
                    if (Model.Giangviens.FirstOrDefault().hinh != null && Model != null)
                    {
                        <img src="@Model.Giangviens.FirstOrDefault().hinh" class="img-circle elevation-2" alt="User Image">
                    }
                    else
                    {
                        <img src="~/Content/Template/dist/img/avatar5.png" class="img-circle elevation-2" alt="User Image">

                    }
                }
                catch
                {
                    <img src="~/Content/Template/dist/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
                }

            </div>
            <div class="info">

                <a href="http://localhost:52790/@Roles.GetRolesForUser().FirstOrDefault()/Info" class="d-block">@(Model !=null ? (Model.HocViens.Count != 0 ? Model.HocViens.FirstOrDefault().hovaten : (Model.Giangviens.Count != 0 ? Model.Giangviens.FirstOrDefault().hovaten : "Nguyễn Tấn Lộc")) :"Xin Cào")</a>

                @Html.ActionLink("Đăng xuất", "Logout", "Home")
            </div>
        </div>

        @*@Html.TextBoxFor(model => model.ChucNangs.)*@
        <!-- Sidebar Menu -->
        <nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<!-- Add icons to the links using the .nav-icon class
	with font-awesome or any other icon font library -->
				@helper ItemCon(ChucNang item, string role)
				{
					<ul class="nav nav-treeview">
						@foreach (var i in item.ChucNang1)
						{

							<li class="nav-item">
								<a href="http://localhost:52790/@role/@i.tenFile" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>
										@i.tenChucNang
										@if (i.ChucNang1.Count != 0)
										{<i class="fas fa-angle-left right"></i>}
									</p>
								</a>
								@if (i.ChucNang1.Count != 0)
								{@ItemCon(i, role)}
							</li>

						}
					</ul>
				}
				@foreach (var it in Model.TAIKHOAN_NHOMQUYEN)
				{
					foreach (var item in it.NhomQuyen.ChucNangs)
					{
						if (item.ChucNang2 == null)
						{
							<li class="nav-item">
								<a href="http://localhost:52790/@it.NhomQuyen.tenNhomQuyen/@item.tenFile" class="nav-link">
									<i class="nav-icon fas fa-user-graduate"></i>
									<p>
										@item.tenChucNang
										@if (item.ChucNang1.Count != 0)
										{<i class="fas fa-angle-left right"></i>}
									</p>
								</a>
								@if (item.ChucNang1.Count != 0)
								{@ItemCon(item, it.NhomQuyen.tenNhomQuyen)}

							</li>
						}


					}
				}

				

				
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-user-graduate"></i>
						<p>
						Tài khoản
						</p>
					</a>
				</li>


			</ul>
            @*@RenderPage("Layout/ChucNang.cshtml")*@
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

