@using Models.Framework
@model IEnumerable<TaiLieu>
@{
    ViewBag.Title = "File";
    var lophoc = (LopHoc)ViewBag.lophoc;
    int idkn = (int)ViewBag.idkn;
}
<style>
    .table {
        margin-top: 30px;
    }

    .title {
        background-color: gainsboro;
    }

    .noidung {
        border-bottom: 1px solid gainsboro;
    }
</style>
<script>
    $("audio").on("play", function () {
        $("audio").not(this).each(function (index, audio) {
            audio.pause();
        });

    });
</script>
   
<button style="margin-left: 2rem;margin-top:1rem;" type="button" class="btn btn-primary rounded-0" data-toggle="modal" data-target="#modal_@idkn">
    <i class="fa fa-plus-circle"></i> Add New
</button>

<table class="table table-hover">
    <thead>
        <tr class="title">
            <th>Tài liệu</th>
            <th>Tiêu đề</th>
            <th>Được tạo bởi</th>
            <th>Thời gian</th>
        </tr>
    </thead>
    <tbody>
       
        @if (Model != null)
        {
            foreach (var it in Model)
            {
                <tr class="noidung">
                    <td>
                       
                        @if (it.link.ToString().Split('.')[it.link.ToString().Split('.').Count() - 1] == "mp3")
                        {
                            <audio controls>
                                <source src="~/@Url.Content(it.link)" type="audio/ogg">
                            </audio>
                        }
                        else if (it.link.ToString().Contains("</p>"))
                        {
                            <button type="button" class="btn-sm btn-primary" data-toggle="ajax-modal_@idkn" data-target="#modal-edit-lg" data-url="@Url.Action($"Edit/{it.ID}")">  <i class="fa fa-pen"></i>Sửa</button>
                        }
                        else
                        {<a href="~/@it.link" download=""><i class="fas fa-download"></i></a>}

                    </td>
                    <td> @it.ten </td>
                    <td> @it.TaiKhoan.hovaten  </td>
                    <td> @it.thoiGian</td>
                </tr>
            }
        }

    </tbody>
</table>
<div class="modal fade" id="modal_@idkn">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Upload New File</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Tailieu", "QLLopHoc", new { idlh = lophoc.ID , idkn}, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <div class="form-group">
                        <label>Choose File:</label>
                        <div class="input-group">
                            <div>
                                @Html.TextBox("file", "", new { type = "file" }) <br />
                                <input type="submit" value="Upload" />
                                @ViewBag.Message
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<div id="showModal_@idkn"></div>
<script>

    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
    $(function () {
        var ShowModal = $('#showModal_@idkn');
        $('button[data-toggle="ajax-modal_@idkn"]').click(function (event) {
            var url = $(this).data('url');
            $.get(url).done(function (data) {
                ShowModal.html(data);
                ShowModal.find('.modal').modal('show');
            })
        })
    });
</script>