@model WebEng.Areas.Admin.Models.LoginModel 
@{
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/Content/Login/fonts/icomoon/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Login/css/owl.carousel.min.css")">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Login/css/bootstrap.min.css")">

    <!-- Style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Login/css/style.css")">
    <title>Login</title>
</head>
<body>

    <div class="d-md-flex half">
        <div class="bg" style="background-image: url('~/Content/Login/images/bg_1.jpg');"></div>
        <div class="contents">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block mx-auto">
                            <div class="text-center mb-5">
                                <h3 class="text-uppercase">Login to <strong>Colorlib</strong></h3>
                            </div>
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true,null,new {@class="alert alert-danger" })
                                <div class="form-group first">
                                    <label for="username">Username</label>
                                    @Html.TextBoxFor(model=>model.userName, new { @class="form-control" , @placeholder="Tên đăng nhập", @id="username", @autofocus="autofocus" })
                                   
                                </div>
                                <div class="form-group last mb-3">
                                    <label for="password">Password</label>
                                    @Html.TextBoxFor(model => model.passWord, new { @class = "form-control", @placeholder = "Mật khẩu", @id = "password", @type = "password" })
                                   
                                </div>

                                <div class="d-sm-flex mb-5 align-items-center">
                                    <label class="control control--checkbox mb-3 mb-sm-0">
                                        <span class="caption">Remember me</span>
                                        @Html.CheckBoxFor(model => model.rememberMe)
                                        
                                        <div class="control__indicator"></div>
                                    </label>
                                    <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>
                                </div>
                                <button type="submit" class="btn btn-block py-2 btn-primary">Đăng nhập</button>
                                
                                <span class="text-center my-3 d-block">or</span>


                                <div class="">
                                    <a href="#" class="btn btn-block py-2 btn-facebook">
                                        <span class="icon-facebook mr-3"></span> Login with facebook
                                    </a>
                                    <a href="#" class="btn btn-block py-2 btn-google"><span class="icon-google mr-3"></span> Login with Google</a>
                                </div>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script src="@Url.Content("~/Content/Login/js/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/Content/Login/js/popper.min.js")"></script>
    <script src="@Url.Content("~/Content/Login/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/Login/js/main.js")"></script>
</body>
</html>