@using Models.Framework
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TemLayout.cshtml";
    int sumBegin = (int)ViewBag.begig;
    int sumEnd = (int)ViewBag.end;
    List<int> solieu = (List<int>)ViewBag.thongkeDau;
    IEnumerable<LopHoc> listLH = (IEnumerable<LopHoc>)ViewBag.listLH;
    IEnumerable<TaiKhoan> listTK = (IEnumerable<TaiKhoan>)ViewBag.listTK;
    IEnumerable<LichSuGD> listGD = (IEnumerable<LichSuGD>)ViewBag.listGD;
}

@section css{

    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/Content/Template/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/Content/Template/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Content/Template/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/Content/Template/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="~/Content/Template/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="~/Content/Template/plugins/bs-stepper/css/bs-stepper.min.css">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="~/Content/Template/plugins/dropzone/min/dropzone.min.css">

}
<!-- Content Header (Page header) -->
<!-- /.content-header -->
<!-- Main content -->
@if (TempData["testmsg"] != null)
{
    <div class="alert alert-info col-md-8 offset-md-1">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-exclamation-triangle"></i> Thông báo!</h5>
        @TempData["testmsg"]
    </div>

}
<div class="row">
    <div class="card card-primary col-md-12">

        <div class="card-body row col-md-12">
            <!-- /.form group -->
            <!-- Date range -->

            @using (Html.BeginForm("Index", "QLBaoCao", FormMethod.Post, new { @id = "formid", @class = " col-md-6" }))
            {
                <div class="form-group">
                    <label>Ngày thống kê: Từ ngày - Đến ngày</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control float-right" id="reservation" name="date">
                        <button type="submit">OK</button>
                    </div>
                    <!-- /.input group -->
                </div>
            }

            @using (Html.BeginForm("Index", "QLBaoCao", FormMethod.Get, new { @class = " col-md-6" }))
            {
                <div class="form-group col-md-6">
                    <label></label>
                    <div class="input-group">
                        <button type="submit">Thống kê tất cả</button>
                    </div>
                </div>
            }
        </div>
        <!-- /.card-body -->
    </div>
</div>


<section class="content">
    <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Tương tác</span>
                        <span class="info-box-number">
                            @solieu[0]
                            @*<small>%</small>*@
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-shopping-cart"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Danh thu</span>
                        <span class="info-box-number"> @String.Format("{0:#,##0}", solieu[1]) đ</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-success elevation-1"><i class="fas fa-thumbs-up"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Mở lớp mới</span>
                        <span class="info-box-number"> @solieu[2]</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Thành viên mới</span>
                        <span class="info-box-number"> @solieu[3]</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title">Danh sách lớp học</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Tên lớp</th>
                                        <th>Giáo viên</th>
                                        <th>Ngày đăng ký lớp</th>
                                        <th>Số lượng</th>
                                        <th>Số buổi học</th>
                                        <th>Tiền mở lớp</th>
                                        <th>Trạng thái</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var lh in listLH)
                                    {
                                        <tr>
                                            <td><a href="#">@lh.ID</a></td>
                                            <td>@lh.tenLopHoc</td>
                                            <td>@lh.Giangvien.TaiKhoan.hovaten</td>
                                            <td>@lh.ngayDangKy.Date</td>
                                            <td>@lh.DSLopHocs.Count()/@lh.soluong</td>
                                            <td>@lh.soBuoi</td>
                                            <td>@lh.Giangvien.TaiKhoan.ViTiens.FirstOrDefault().LichSuGDs.FirstOrDefault(x => x.TenGD.Contains(lh.tenLopHoc) && x.LoaiGD == 1).SoTienGD</td>
                                            <td>
                                                @{
                                                    switch (lh.trangThai)
                                                    {
                                                        case 0://đang tuyển
                                                            {
                                                                <span class="badge badge-info">Đang tuyển sinh</span>
                                                                break;
                                                            }
                                                        case 1://đang tuyển
                                                            {
                                                                <span class="badge badge-danger">Ngừng tuyển sinh</span>
                                                                break;
                                                            }
                                                        case 2://đang tuyển
                                                            {
                                                                <span class="badge badge-success">Đang học</span>
                                                                break;
                                                            }
                                                        case 3://đang tuyển
                                                            {
                                                                <span class="badge badge-warning">Đã kết thúc</span>
                                                                break;
                                                            }
                                                    }
                                                }
                                            </td>

                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">Xem tất cả</a>
                    </div>
                    <!-- /.card-footer -->
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title">Lịch sử giao dịch</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="timeline timeline-inverse">
                            @{
                                string date = null;
                                foreach (var item in listGD.OrderByDescending(x => x.ThoiGiangGD))
                                {
                                    if (date != item.ThoiGiangGD.ToString().Split(' ')[0])
                                    {
                                        date = item.ThoiGiangGD.ToString().Split(' ')[0];
                                        <div class="time-label">
                                            <span class="bg-info bg-lime color-palette">
                                                @item.ThoiGiangGD.ToString().Split(' ')[0]
                                            </span>
                                        </div>
                                    }
                                    if (item.LoaiGD == 0)
                                    {
                                        <div>
                                            <i class="fas fa-dollar-sign bg-success"></i>
                                            <div class="timeline-item">
                                                <span class="time"><i class="far fa-clock"></i> @item.ThoiGiangGD.ToString().Split(' ')[1]</span>
                                                <h3 class="timeline-header border-0">
                                                    <strong>@item.ViTien.TaiKhoan.hovaten</strong>  <a href="#"> Nạp vào </a> @item.TenGD
                                                </h3>

                                            </div>
                                        </div>

                                    }
                                    else
                                    {
                                        <div>
                                            <i class="far fa-plus-square bg-warning"></i>
                                            <div class="timeline-item">
                                                <span class="time"><i class="far fa-clock"></i> @item.ThoiGiangGD.ToString().Split(' ')[1]</span>
                                                <h3 class="timeline-header border-0">
                                                    <strong>@item.ViTien.TaiKhoan.hovaten</strong> <a href="#"> Mở lớp </a> @item.TenGD
                                                </h3>
                                            </div>
                                        </div>
                                    }

                                }
                            }


                            <div>
                                <i class="far fa-clock bg-gray"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <div class="col-md-4">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Thành viên</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <ul class="users-list clearfix">
                            @foreach (var tk in listTK)
                            {
                                <li>
                                    @if (!string.IsNullOrEmpty(tk.hinh))
                                    {
                                        <img src="~/@tk.hinh" alt="User profile picture">
                                    }
                                    else
                                    {
                                        <img src="https://i.imgur.com/q52cLwE.png" alt="User profile picture">
                                    }
                                    <a class="users-list-name" href="#">@tk.hovaten</a>
                                    <span class="users-list-date">Today</span>
                                </li>
                            }
                        </ul>
                        <!-- /.users-list -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer text-center">
                        <a href="javascript:">View All Users</a>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!--/.card -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!--/. container-fluid -->
</section>
<!-- /.content -->

@section masterjs{

    <!-- Select2 -->
    <script src="~/Content/Template/plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src="~/Content/Template/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- InputMask -->
    <script src="~/Content/Template/plugins/moment/moment.min.js"></script>
    <script src="~/Content/Template/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/Content/Template/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/Content/Template/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="~/Content/Template/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- BS-Stepper -->
    <script src="~/Content/Template/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <!-- dropzonejs -->
    <script src="~/Content/Template/plugins/dropzone/min/dropzone.min.js"></script>
    <script>
        $(function () {

            //Initialize Select2 Elements
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

            //Datemask dd/mm/yyyy
            $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
            //Datemask2 mm/dd/yyyy
            $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
            //Money Euro
            $('[data-mask]').inputmask()

            //Date picker
            $('#reservationdate').datetimepicker({
                format: 'L'
            });

            //Date and time picker
            $('#reservationdatetime').datetimepicker({ icons: { time: 'far fa-clock' } });

            //Date range picker
            $('#reservation').daterangepicker({
                startDate: moment().add(@sumBegin, 'day'),
                endDate: moment().add(@sumEnd, 'day'),
                //locale: {
                //    format: 'DD/MM/YYYY'
                //},
                onChange: function () { $("#formid").submit(); }
            })


            //Timepicker
            $('#timepicker').datetimepicker({
                format: 'LT'
            })

            //Bootstrap Duallistbox
            $('.duallistbox').bootstrapDualListbox()

            //Colorpicker
            $('.my-colorpicker1').colorpicker()
            //color picker with addon
            $('.my-colorpicker2').colorpicker()

            $('.my-colorpicker2').on('colorpickerChange', function (event) {
                $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
            })

            $("input[data-bootstrap-switch]").each(function () {
                $(this).bootstrapSwitch('state', $(this).prop('checked'));
            })

        })
        // BS-Stepper Init
        document.addEventListener('DOMContentLoaded', function () {
            window.stepper = new Stepper(document.querySelector('.bs-stepper'))
        })

        // DropzoneJS Demo Code Start
        Dropzone.autoDiscover = false

        // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
        var previewNode = document.querySelector("#template")
        previewNode.id = ""
        var previewTemplate = previewNode.parentNode.innerHTML
        previewNode.parentNode.removeChild(previewNode)

        var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
            url: "/target-url", // Set the url
            thumbnailWidth: 80,
            thumbnailHeight: 80,
            parallelUploads: 20,
            previewTemplate: previewTemplate,
            autoQueue: false, // Make sure the files aren't queued until manually added
            previewsContainer: "#previews", // Define the container to display the previews
            clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
        })

        myDropzone.on("addedfile", function (file) {
            // Hookup the start button
            file.previewElement.querySelector(".start").onclick = function () { myDropzone.enqueueFile(file) }
        })

        // Update the total progress bar
        myDropzone.on("totaluploadprogress", function (progress) {
            document.querySelector("#total-progress .progress-bar").style.width = progress + "%"
        })

        myDropzone.on("sending", function (file) {
            // Show the total progress bar when upload starts
            document.querySelector("#total-progress").style.opacity = "1"
            // And disable the start button
            file.previewElement.querySelector(".start").setAttribute("disabled", "disabled")
        })

        // Hide the total progress bar when nothing's uploading anymore
        myDropzone.on("queuecomplete", function (progress) {
            document.querySelector("#total-progress").style.opacity = "0"
        })

        // Setup the buttons for all transfers
        // The "add files" button doesn't need to be setup because the config
        // `clickable` has already been specified.
        document.querySelector("#actions .start").onclick = function () {
            myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED))
        }
        document.querySelector("#actions .cancel").onclick = function () {
            myDropzone.removeAllFiles(true)
        }
      // DropzoneJS Demo Code End


    </script>

}



<!-- Page specific script -->
