@model  Models.Framework.LopHoc

@using (Html.BeginForm("Create", "GiaoVien", FormMethod.Post))
{

    <div class="modal fade" id="modal-create-lg" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div style="margin:auto" class="modal-header">
                    <h4 style="text-align:center" class="modal-title">Tạo lớp học</h4>
                </div>

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(model => model.ID, new { @class = "form-control" })


                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tên lớp</label>
                        @Html.TextBoxFor(model => model.tenLopHoc, new { @class = "form-control", @id = "className", @placeholder = "Tên lớp" })
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Số lượng</label>
                        @Html.TextBoxFor(model => model.soluong, new { @class = "form-control", @type = "number" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Ngày khai giảng</label>
                        @Html.TextBoxFor(model => model.ngayBegin, new { @class = "form-control", @type = "date" })

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Chọn kỹ năng</label>

                    </div>
                    <div class="form-group row ">
                        <div class="custom-control custom-checkbox col-md-3">
                            <input class="custom-control-input" name="Listening" type="checkbox" id="customCheckbox1" checked value="true">
                            <label for="customCheckbox1" class="custom-control-label">Listening</label>
                        </div>
                        <div class="custom-control custom-checkbox col-md-3">
                            <input class="custom-control-input" name="Speaking" type="checkbox" id="customCheckbox2" checked value="true">
                            <label for="customCheckbox2" class="custom-control-label">Speaking</label>
                        </div>
                        <div class="custom-control custom-checkbox col-md-3">
                            <input class="custom-control-input" name="Reading" type="checkbox" id="customCheckbox3" checked value="true">
                            <label for="customCheckbox3" class="custom-control-label">Reading</label>
                        </div>
                        <div class="custom-control custom-checkbox col-md-3">
                            <input class="custom-control-input" name="Writing" type="checkbox" id="customCheckbox4" checked value="true">
                            <label for="customCheckbox4" class="custom-control-label">Writing</label>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Số tháng</label>
                        <input type="number" class="form-control" id="dayStudy" placeholder="Số tháng" name="sothang">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Số buổi trong tuần</label>
                        <input type="number" class="form-control" id="numbersofweek" placeholder="Số buổi trong tuần">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Chọn ảnh</label>
                        <div class="input-group">
                            <div class="custom-file">

                                @Html.TextBoxFor(model => model.soluong, new { @type = "file", @class = "custom-file-input", @id = "exampleInputFile" })
                                <label class="custom-file-label" for="exampleInputFile"></label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">Upload</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="text-align:center">
                    <button type="button" class="btn btn-md btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" onclick="myFunction()" class="btn btn-md btn-secondary" data-toggle="modal" data-target="#creatlesson" data-dismiss="modal">Tiếp tục</button>
                     </div>
               
            </div>
        </div>
    </div>
    <div class="modal fade" id="creatlesson" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div style="margin:auto" class="modal-header">
                    <h4 style="text-align:center" class="modal-title">Tạo thời gian học</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div id="child" style="text-align:center" class="form-group col-xl-12 col-lg-12 col-xs-12 col-md-12">
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align:center">
                        <button type="button" class="btn btn-md btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-md btn-secondary">Tạo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
    <script>
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2();
        });
    </script>
