@model IEnumerable<Models.Framework.LopHoc>


@{
    ViewBag.Title = "GiaoVien";
    Layout = "~/Views/Shared/_TemLayout.cshtml";
}
@section css{
    <!-- DataTables -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Template/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Template/plugins/datatables-responsive/css/responsive.bootstrap4.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Template/plugins/datatables-buttons/css/buttons.bootstrap4.min.css")">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}
@section header{
    Giáo viên
}
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div style="margin:auto" class="modal-header">
                <h4 style="text-align:center" class="modal-title">Tạo lớp học</h4>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Tên lớp</label>
                    <input type="email" class="form-control" id="className" placeholder="Tên lớp">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Số lượng</label>
                    <input type="number" class="form-control" id="numBers" placeholder="Số lượng">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Ngày khai giảng</label>
                    <input type="date" class="form-control" id="startDay">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Số tháng</label>
                    <input type="number" class="form-control" id="dayStudy" placeholder="Số tháng">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Số buổi trong tuần</label>
                    <input type="number" class="form-control" id="numbersofweek" placeholder="Số buổi trong tuần">
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">Chọn ảnh</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="exampleInputFile">
                            <label class="custom-file-label" for="exampleInputFile"></label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text">Upload</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="text-align:center">
                <button type="button" class="btn btn-md btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" onclick="myFunction()" class="btn btn-md btn-secondary" data-toggle="modal" data-target="#creatlesson" data-dismiss="modal">Tiếp tục</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="creatlesson" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div style="margin:auto" class="modal-header">
                <h4 style="text-align:center" class="modal-title">Tạo thời gian học</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div id="child" style="text-align:center" class="form-group col-xl-12 col-lg-12 col-xs-12 col-md-12">
                    </div>
                </div>
                <div class="modal-footer" style="text-align:center">
                    <button type="button" class="btn btn-md btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-md btn-secondary" data-dismiss="modal">Tạo</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <button class="btn dropdown-item" data-toggle="modal" data-target="#myModal">
            <i style="margin-left:50px">Tạo lớp học</i>
            <i class="fas fa-plus-square"></i>
        </button>
    </div>
    <div class="container-fluid col-lg-6">
        <form action="simple-results.html">
            <div class="input-group">
                <input type="search" class="form-control form-control-lg" placeholder="Search">
                <div class="input-group-append" style="width:50px">
                    <button type="submit" class="btn btn-lg btn-default">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card-body">
    <div id="wrap" class="wrapper" style="display: grid; grid-gap:15px;grid-template-columns: 400px 400px 400px">
        @foreach (var item in Model)
        {
            <div class="item item1">
                <div class="card card-widget widget-user-2 shadow-sm">
                    <div class="widget-user-header bg-warning">
                        <div id="img" class="widget-user-image">
                            <img src="@item.hinh" />
                        </div>
                        <h3 id="nameTeacher" class="widget-user-username">@item.Giangvien.hovaten</h3>
                        <h5 id="job" class="widget-user-desc">@item.KyNangLopHoc </h5>
                    </div>
                    <div class="card-footer p-0">
                        <ul class="nav flex-column">
                            <li class="nav-item" style="color:black">
                                <a id="nameClass" class="nav-link" style="pointer-events:none">
                                    Lớp học
                                    <span class="float-right badge bg-danger">@item.tenLopHoc</span>
                                </a>
                            </li>
                            <li class="nav-item" style="color:black">
                                <a id="numBers" class="nav-link" style="pointer-events:none">
                                    Số lượng
                                    <span class="float-right badge bg-danger">@item.soluong</span>
                                </a>
                            </li>
                            <li class="nav-item" style="color:black">
                                <a id="startLearn" class="nav-link" style="pointer-events:none">
                                    Khai giảng
                                    <span class="float-right badge bg-danger">@item.ngayBegin</span>
                                </a>
                            </li>
                            <li class="nav-item" style="color:black">
                                <a id="Due" class="nav-link" style="pointer-events:none">
                                    Lịch học
                                    <span class="float-right badge bg-danger">@item.ThoiKhoaBieu</span>
                                </a>
                            </li>
                            <li class="nav-item" style="color:black">
                                <a id="Due" class="nav-link" style="pointer-events:none">
                                    Thời gian học
                                    <span class="float-right badge bg-danger">@item.TietHoc</span>
                                </a>
                            </li>
                            <li class="nav-item" style="color:black">
                                <a id="Due" class="nav-link" style="pointer-events:none">
                                    Ngày kết thúc
                                    <span class="float-right badge bg-danger">@item.ngayEnd</span>
                                </a>
                            </li>
                            <li class="nav-item" style="color:black; text-align:center">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <button type="submit">
                                            <i class="fas fa-user-edit"></i>
                                        </button>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <button id="xoa" onclick="delete()" type="submit">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="content__product" id="product">
    </div>
    <div class="content__paging">
        <div class="page">
            <ul>
                <li class="btn-prev btn-active fas fa-angle-left"></li>
                <div class="number-page" id="number-page">
                </div>
                <li class="btn-next fas fa-angle-right"></li>
            </ul>
        </div>
    </div>
</div>

@section masterjs
        {
    <script src="@Url.Content("~/Content/Template/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Content/Template/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/Content/Template/plugins/datatables-responsive/js/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("~/Content/Template/plugins/datatables-responsive/js/responsive.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/Content/Template/plugins/datatables-buttons/js/dataTables.buttons.min.js")"></script>
    <script src="@Url.Content("~/Content/Template/plugins/datatables-buttons/js/buttons.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/Content/Template/plugins/jszip/jszip.min.js")"></script>
    <script src="@Url.Content("~/Content/Template/plugins/pdfmake/pdfmake.min.js")"></script>
    <script src="@Url.Content("~/Content/Template/plugins/pdfmake/vfs_fonts.js")"></script>
    <script src="@Url.Content("~/Content/Template/plugins/datatables-buttons/js/buttons.html5.min.js")"></script>
    <script src="@Url.Content("~/Content/Template/plugins/datatables-buttons/js/buttons.print.min.js")"></script>
    <script src="@Url.Content("~/Content/Template/plugins/datatables-buttons/js/buttons.colVis.min.js")"></script>
    <script src="@Url.Content("~/Content/Template/plugins/moment/moment.min.js")"></script>
    <script src="@Url.Content("~/Content/Template/plugins/fullcalendar/main.js")"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"></script>
    <script src="~/Content/js/GV.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

}
<script>
    // tạo modal thời gian biểu

    function myFunction() {
        for (var i = 1; i <= parseInt($("#numbersofweek").val()); i++) {
            var stt_lesson = document.createElement("label");
            stt_lesson.textContent = "buổi " + i;
            var div_stt = document.getElementById("child");
            div_stt.appendChild(stt_lesson);

            var p = document.createElement("select");
            var div = document.getElementById("child");
            div.appendChild(p);
            p.style.height = "30px";
            p.style.marginLeft = "10px";
            p.name = "day";
            for (var day = 1; day <= 7; day++) {
                var option = document.createElement("option");
                option.value = day;
                switch (day) {
                    case 1: option.innerHTML = "Thứ hai";
                        break;
                    case 2: option.innerHTML = "Thứ ba";
                        break
                    case 3: option.innerHTML = "Thứ tư";
                        break;
                    case 4: option.innerHTML = "Thứ năm";
                        break
                    case 5: option.innerHTML = "Thứ sáu";
                        break;
                    case 6: option.innerHTML = "Thứ bảy";
                        break;
                    case 7: option.innerHTML = "Chủ nhật";
                        break;
                }
                p.appendChild(option);
            }
            var startday = document.createElement("input");
            startday.type = "time";
            startday.style.height = "30px";
            startday.style.marginLeft = "20px";
            var div_input = document.getElementById("child");
            div_input.appendChild(startday);

            var endday = document.createElement("input");
            endday.type = "time";
            endday.style.height = "30px";
            endday.style.marginLeft = "20px";
            var div_input = document.getElementById("child");
            div_input.appendChild(endday);

            var br = document.createElement("br");
            var br1 = document.getElementById("child");
            br1.appendChild(br);
        }
    }

    let perPage = 6;
    let currentPage = 1;
    let start = 0;
    let end = perPage;
    //    const product = [
    //    { image: "" , nameteacher: "quốc", job: "dev", nameclass: "k23", numbers: "50", startlearn: "20", due: "6", numbermonths: "6", endlearn: "3" },

    //    { image: "", nameteacher: "quốc", job: "dev", nameclass: "k23", numbers: "50", startlearn: "20", due: "6", numbermonths: "6", endlearn: "3" }
    //]

    let productArr = [];
    let showAdd = false;

    const image = document.getElementById('img');
    const nameTeacher = document.getElementById('nameTeacher');
    const job = document.getElementById('job');
    const nameClass = document.getElementById('nameClass');
    const numBers = document.getElementById('numBers');
    const startLearn = document.getElementById("startLearn");
    const Due = document.getElementById("Due");
    const numberMonths = document.getElementById("numberMonths");;
    const endLearn = document.getElementById("endLearn");
    const btnNext = document.querySelector('.btn-next');
    const btnPrev = document.querySelector('.btn-prev');

    //function renderProduct() {
    //    html = "";
    //    const content = product.map((item, index) => {
    //        if (index >= start && index < end) {
    //            html += '<div class="item item1">';
    //            html += '<div class="card card-widget widget-user-2 shadow-sm">';
    //            html += '<div class="widget-user-header bg-warning">';
    //            html += '<div id="img" class="widget-user-image">';
    //            html += '<img src=' + item.image + '>';
    //            html += '</div>';
    //            html += '<h3 id="nameTeacher" class="widget-user-username">' + item.nameTeacher + '</h3>';
    //            html += '<h5 id="job"class="widget-user-desc">' + item.job + '</h5>';
    //            html += '</div>';
    //            html += '<div class="card-footer p-0">';
    //            html += '<ul class="nav flex-column">';
    //            html += '<li class="nav-item" style="color:black">';
    //            html += '<a id="nameClass"class="nav-link" style="pointer-events:none">';
    //            html += item.nameClass;
    //            html += '<span class="float-right badge bg-danger">842</span>';
    //            html += '</a>';
    //            html += '</li>';
    //            html += '<li class="nav-item" style="color:black">';
    //            html += '<a id="numBers" class="nav-link" style="pointer-events:none">';
    //            html += item.numBers;
    //            html += '<span class="float-right badge bg-danger">842</span>';
    //            html += '</a>';
    //            html += '</li>';
    //            html += '<li class="nav-item" style="color:black">';
    //            html += '<a id="startLearn" class="nav-link" style="pointer-events:none">';
    //            html += item.startLearn;
    //            html += ' <span class="float-right badge bg-danger">842</span>';
    //            html += '</a>';
    //            html += '</li>';
    //            html += '<li class="nav-item" style="color:black">';
    //            html += '<a id="Due" class="nav-link" style="pointer-events:none">';
    //            html += item.Due;
    //            html += ' <span class="float-right badge bg-danger">842</span>';
    //            html += '</a>';
    //            html += '</li>';
    //            html += '<li class="nav-item" style="color:black">';
    //            html += '<a id="Due" class="nav-link" style="pointer-events:none">';
    //            html += item.numberMonths;
    //            html += ' <span class="float-right badge bg-danger">842</span>';
    //            html += '</a>';
    //            html += '</li>';
    //            html += '<li class="nav-item" style="color:black">';
    //            html += '<a id="Due" class="nav-link" style="pointer-events:none">';
    //            html += item.endLearn;
    //            html += '<span class="float-right badge bg-danger">842</span>';
    //            html += '</a>';
    //            html += '</li>';
    //            html += '<li class="nav-item" style="color:black; text-align:center">';
    //            html += '<div class="row">';
    //            html += '<div class="col-lg-6 col-md-6">';
    //            html += '<button type="submit">';
    //            html += '<i class="fas fa-user-edit"></i>';
    //            html += ' </button>';
    //            html += '</div>';
    //            html += '<div class="col-lg-6 col-md-6">';
    //            html += '<button id ="xoa" onclick = "delete()" type="submit">';
    //            html += '<i class="fas fa-trash-alt"></i>';
    //            html += '</button>';
    //            html += '</div>';
    //            html += '</div>';
    //            html += '</li>';
    //            html += '</ul>';
    //            html += '</div>';
    //            html += '</div>';
    //            html += '</div>';
    //            return html;
    //        }
    //    })
    //    document.getElementById("wrap").innerHTML = html;
    //}
    //renderProduct();
    function getCurrentPage(currentPage) {
        start = (currentPage - 1) * perPage;
        end = currentPage * perPage;
    }
    const totalPages = Math.ceil(product.length / perPage);
    btnNext.addEventListener('click', () => {
        currentPage++;
        if (currentPage > totalPages) {
            currentPage = totalPages;
        }
        getCurrentPage(currentPage);
        renderProduct();
    })

    btnPrev.addEventListener('click', () => {
        currentPage--;
        if (currentPage <= 1) {
            currentPage = 1;
        }
        getCurrentPage(currentPage);
        renderProduct();
    })

    function renderListpage() {
        let html = '';
        html += '<li  class="active">';
        html += '<a>' + 1 + '</a>';
        html += '</li>';
        for (let i = 2; i <= totalPages; i++) {
            html += '<li  class="active">';
            html += '<a>' + i + '</a>';
            html += '</li>';
        }
        document.getElementById('number-page').innerHTML = html;
    }
    renderListpage();

    function changePages() {
        const currentPages = document.querySelectorAll('.number-page li')
        for (let i = 0; i <= currentPages.length; i++) {
            currentPages[i].addEventListener('click', () => {
                const value = i + 1;
                currentPage = value;
                getCurrentPage(currentPage);
                renderProduct();
            })
        }
    }
    changePages();

    $("#xoa").click(function () {
        $("div").remove();
    });
</script>