@using Models.Framework;
@model IEnumerable<LopHoc>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_TemLayout.cshtml";
}


@section css
{
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Template/plugins/fontawesome-free/css/all.min.css")">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link href="~/Content/Template/dist/css/adminlte.css" rel="stylesheet" />
    <style>
	    /*.card-footer{
		    height:180px;
	    }
        .widget-user .widget-user-username {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 5px;
            margin-top: -40px;
            text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        }
        .widget-user-desc {
            font-size: 19px;
            
        }
        .card-footer-footer {
            background-color: #E6E6E6;
            height: 40px;
        }
            .card-footer-footer .fter {
                max-width: 124px;
                padding: 8px 0px 8px 0px;
                width: 100%;
                background-color: red;
                display: inline-block;
            }*/
        .card-body {
            height: 160px;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            display: -webkit-box;
        }
        .widget-user .card-footer {
            padding-top: 0.75rem;
        }
    </style>
}
@section header{
Học Viên    
}

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <!-- Widget: user widget style 1 -->
                <a class="card card-widget widget-user" href="~/HocVien/chi-tiet/@item.ID" style="color:black;">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-info" style="background: url('@item.hinh') center center; background-repeat: no-repeat; background-size: cover;">
                       
                    </div>
                    <div class="card-body">
                        <h3 class="widget-user">@item.tenLopHoc</h3>
                        <h6 class="widget-user-desc" > @item.mota</h6>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-6 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">@item.Giangvien.hovaten</h5>
                                    <span class="description-text">Giáo viên</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            
                            <!-- /.col -->
                            <div class="col-sm-6">
                                <div class="description-block">
                                    <h5 class="description-header">@item.soluong</h5>
                                    <span class="description-text">Số lượng</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                        </div>
                    </div>
                </a>
                <!-- /.widget-user -->
            </div>
        }
       
        <!-- /.col -->
    </div>
<!-- /.row -->

