@using Models.Framework;
@model IEnumerable<LopHoc>

@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_TemLayout.cshtml";
}


@section css
{
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Template/plugins/fontawesome-free/css/all.min.css")">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link href="~/Content/Template/dist/css/adminlte.css" rel="stylesheet" />

    <!-- Select2 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Template/plugins/select2/css/select2.min.css")">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <style>       
        .card-body {
            height: 160px;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            display: -webkit-box;
        }

        .widget-user .card-footer {
            padding-top: 0.75rem;
        }
        
        .current {
            color: green;
        }

        #pagin li {
            display: inline-block;
        }

        .prev {
            cursor: pointer;
        }

        .next {
            cursor: pointer;
        }

        .last {
            cursor: pointer;
            margin-left: 5px;
        }

        .first {
            cursor: pointer;
            margin-right: 5px;
        }
        .text-muted.widget-user-desc {
            height: 60px;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            display: -webkit-box;
        }
    </style>
}
@section header{
    <h1 class="text-center ">Tìm Lớp Học</h1>
}
@if (TempData["testmsg"] != null)
{
    <div class="alert alert-info col-md-9 offset-md-2">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-exclamation-triangle"></i> Thông báo!</h5>
        @TempData["testmsg"]
    </div>
}
<section class="content">
    <div class="container-fluid">
        @using (Html.BeginForm("Find", "Tim", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <input type="search" class="form-control form-control-lg" placeholder="Bạn đang tìm gì ?" name="tim">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-lg btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="custom-control custom-checkbox col-md-3">
                            <input class="custom-control-input" name="Listening" type="checkbox" id="customCheckbox1">
                            <label for="customCheckbox1" class="custom-control-label">Listening</label>

                            <select class="form-control form-control-sm col-md-5" style="display:inline-block;" disabled name="lvListening">
                                <option value="0">ALL</option>
                                <option value="1">LV 1</option>
                                <option value="2">LV 2</option>
                                <option value="3">LV 3</option>
                                <option value="4">LV 4</option>
                            </select>

                        </div>
                        <div class="custom-control custom-checkbox col-md-3">
                            <input class="custom-control-input" name="Speaking" type="checkbox" id="customCheckbox2">
                            <label for="customCheckbox2" class="custom-control-label">Speaking</label>

                            <select class="form-control form-control-sm col-md-5" style="display:inline-block;" disabled name="lvSpeaking">
                                <option value="0">ALL</option>
                                <option value="1">LV 1</option>
                                <option value="2">LV 2</option>
                                <option value="3">LV 3</option>
                                <option value="4">LV 4</option>
                            </select>
                        </div>
                        <div class="custom-control custom-checkbox col-md-3">
                            <input class="custom-control-input" name="Reading" type="checkbox" id="customCheckbox3" value="false">
                            <label for="customCheckbox3" class="custom-control-label">Reading</label>

                            <select class="form-control form-control-sm col-md-5" style="display:inline-block;" disabled name="lvReading">
                                <option value="0">ALL</option>
                                <option value="1">LV 1</option>
                                <option value="2">LV 2</option>
                                <option value="3">LV 3</option>
                                <option value="4">LV 4</option>
                            </select>
                        </div>
                        <div class="custom-control custom-checkbox col-md-3">
                            <input class="custom-control-input" name="Writing" type="checkbox" id="customCheckbox4" value="false">
                            <label for="customCheckbox4" class="custom-control-label">Writing</label>

                            <select class="form-control form-control-sm col-md-5" style="display:inline-block;" disabled name="lvWriting">
                                <option value="0">ALL</option>
                                <option value="1">LV 1</option>
                                <option value="2">LV 2</option>
                                <option value="3">LV 3</option>
                                <option value="4">LV 4</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>

        }

    </div>
</section>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="line-content col-md-4">
            <!-- Widget: user widget style 1 -->
            <a class="card card-widget widget-user" href="~/HocVien/chi-tiet/@item.ID" style="color:black;">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                @if (!string.IsNullOrEmpty(item.hinh))
                {
                    <div class="widget-user-header bg-info" style="background: url('../@item.hinh') center center; background-repeat: no-repeat; background-size: cover;"></div>
                }
                else
                {
                    <div class="widget-user-header bg-info" style="background: url('https://static.vecteezy.com/system/resources/previews/001/881/787/non_2x/online-classes-virtual-classroom-concept-vector.jpg') center center; background-repeat: no-repeat; background-size: cover;"></div>
                }
                <div class="card-body">
                    <h3 class="widget-user">@item.tenLopHoc</h3>
                    <h6 class="text-muted widget-user-desc"> @item.mota</h6>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-6 border-right">
                            <div class="description-block">
                                <h5 class="description-header">@item.Giangvien.TaiKhoan.hovaten</h5>
                                <span class="description-text">Giáo viên</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <!-- /.col -->
                        <div class="col-sm-6">
                            <div class="description-block">
                                <h5 class="description-header">
                                    @{int? sl = item.soluong - item.DSLopHocs.Count();<span>@sl</span>}/@item.soluong
                                </h5>
                                <span class="description-text">Số lượng</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                    </div>
                </div>
            </a>
            <!-- /.widget-user -->
        </div>
        
    }

    <!-- /.col -->
</div>
<div class="card-footer clearfix">
    <ul class="pagination pagination-sm m-0" id="pagin"></ul>
</div>
<!-- /.row -->
@section masterjs{
    <script>
        $(".custom-control-input").click(function () {
            if (this.checked) {
                $(this).val('TRUE');
                $(this).closest('.custom-control.custom-checkbox.col-md-3').find('.form-control.form-control-sm.col-md-5').removeAttr("disabled");
            } else {
                $(this).val('FALSE');
                $(this).closest('.custom-control.custom-checkbox.col-md-3').find('.form-control.form-control-sm.col-md-5').attr("disabled", true);

            }

        });


        pageSize = 6;
        incremSlide = 5;
        startPage = 0;
        numberPage = 0;

        var pageCount = $(".line-content").length / pageSize;
        var totalSlidepPage = Math.floor(pageCount / incremSlide);

        for (var i = 0; i < pageCount; i++) {
            $("#pagin").append('<li class="page-item"><a href="#" class="page-link">' + (i + 1) + '</a></li> ');
            if (i > pageSize) {
                $("#pagin li").eq(i).hide();
            }
        }

        var prev = $('<li class="page-item"/>').addClass("prev").html('<a href="#" class="page-link"> &laquo;').click(function () {
            startPage -= 5;
            incremSlide -= 5;
            numberPage--;
            slide();
        });

        prev.hide();

        var next = $('<li class="page-item"/>').addClass("next").html('<a href="#" class="page-link">&raquo;').click(function () {
            startPage += 5;
            incremSlide += 5;
            numberPage++;
            slide();
        });

        $("#pagin").prepend(prev).append(next);

        $("#pagin li").first().find("a").addClass("current");

        slide = function (sens) {
            $("#pagin li").hide();

            for (t = startPage; t < incremSlide; t++) {
                $("#pagin li").eq(t + 1).show();
            }
            if (startPage == 0) {
                next.show();
                prev.hide();
            } else if (numberPage == totalSlidepPage) {
                next.hide();
                prev.show();
            } else {
                next.show();
                prev.show();
            }


        }

        showPage = function (page) {
            $(".line-content").hide();
            $(".line-content").each(function (n) {
                if (n >= pageSize * (page - 1) && n < pageSize * page)
                    $(this).show();
            });
        }

        showPage(1);
        $("#pagin li a").eq(0).addClass("current");

        $("#pagin li a").click(function () {
            $("#pagin li a").removeClass("current");
            $(this).addClass("current");
            showPage(parseInt($(this).text()));
        });
    </script>


}