@model Models.Framework.LopHoc
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/HocVien/Views/Shared/layout_2.cshtml";
    int d = 0;
    string active = "nav-link";
}


@section css_layout2{
	<!-- SweetAlert2 -->
	<link rel="stylesheet" href="@Url.Content("~/Content/Template/plugins/sweetalert2/sweetalert2.min.css")">
	<!-- Toastr -->
	<link rel="stylesheet" href="@Url.Content("~/Content/Template/plugins/toastr/toastr.min.css")">
	<style>
		.card-body {
			min-height: 515px;
		}
	</style>


}


<div class="row">
	<div class="col-12 col-sm-12">
		<div class="card card-primary card-outline card-outline-tabs">
			<div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                    @if (Model.KyNangLopHocs.Where(x => x.idKN == 1).Count() > 0)
                    {
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="tab" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">Listening</a>
                        </li>
                        d = 1;
                    }

                    @if (Model.KyNangLopHocs.Where(x => x.idKN == 2).Count() > 0)
                    {
                        if (d == 0) { active = "nav-link active"; } else { active = "nav-link"; }
                        <li class="nav-item">
                            <a class="@active" id="custom-tabs-four-profile-tab" data-toggle="tab" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">Speaking</a>
                        </li>
                        d = 1;
                    }

                    @if (Model.KyNangLopHocs.Where(x => x.idKN == 3).Count() > 0)
                    {
                        if (d == 0) { active = "nav-link active"; } else { active = "nav-link"; }
                        <li class="nav-item">
                            <a class="@active" id="custom-tabs-four-messages-tab" data-toggle="tab" href="#custom-tabs-four-messages" role="tab" aria-controls="custom-tabs-four-messages" aria-selected="false">Reading</a>
                        </li>
                        d = 1;
                    }

                    @if (Model.KyNangLopHocs.Where(x => x.idKN == 4).Count() > 0)
                    {
                        if (d == 0) { active = "nav-link active"; } else { active = "nav-link"; }
                        <li class="nav-item">
                            <a class="@active" id="custom-tabs-four-settings-tab" data-toggle="tab" href="#custom-tabs-four-settings" role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">Writing</a>
                        </li>
                        d = 1;
                    }
                    <li class="nav-item">
                        <a class="@active" id="custom-tabs-four-settings-tab" data-toggle="tab" href="#custom-tabs-four-onlineclasss" role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">Online Class</a>
                    </li>
                </ul>
			</div>
			<div class="card-body">
                <div class="tab-content" id="custom-tabs-four-tabContent">
                    @if (Model.KyNangLopHocs.Where(x => x.idKN == 1).Count() > 0)
                    {
                        <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                            @{Html.RenderAction("Listening", "Learning", Model);}

                        </div>
                        d=2;
                    }
                    @if (Model.KyNangLopHocs.Where(x => x.idKN == 2).Count() > 0)
                    {
                        if (d == 1) { active = "tab-pane fade show active"; } else { active = "tab-pane fade"; }
                        <div class="@active" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                            @{Html.RenderAction("Speaking", "Learning", Model);}
                        </div>
                        d=2;
                    }
                    @if (Model.KyNangLopHocs.Where(x => x.idKN == 3).Count() > 0)
                    {
                        if (d == 1) { active = "tab-pane fade show active"; } else { active = "tab-pane fade"; }
                        <div class="@active" id="custom-tabs-four-messages" role="tabpanel" aria-labelledby="custom-tabs-four-messages-tab">
                            @{Html.RenderAction("Reading", "Learning", Model);}
                        </div>
                        d=2;
                    }

                    @if (Model.KyNangLopHocs.Where(x => x.idKN == 2).Count() > 0)
                    {
                        if (d == 1) { active = "tab-pane fade show active"; } else { active = "tab-pane fade"; }
                        <div class="@active" id="custom-tabs-four-settings" role="tabpanel" aria-labelledby="custom-tabs-four-settings-tab">
                            @{Html.RenderAction("Writing", "Learning", Model);}
                        </div>
                        d=2;
                    }
                    <div class="tab-pane fade" id="custom-tabs-four-onlineclasss" role="tabpanel" aria-labelledby="custom-tabs-four-onlineclasss">
                        @{Html.RenderAction("OnlineClass", "Learning", Model);}
                    </div>
                </div>
			</div>

		</div>
	</div>
</div>
<script>
   
    $(document).ready(function () {
        $('#custom-tabs-four-tab a:first').tab('show');
    });
</script>
