@*@model IEnumerable<Models.Framework.LoaiTaiLieu>*@
@model IEnumerable<Models.Framework.TaiLieu>
<style>
    .table {
        margin-top: 30px;
    }

    .title {
        background-color: gainsboro;
    }

    .noidung {
        border-bottom: 1px solid gainsboro;
    }
</style>
<table class="table table-hover">
    <thead>
        <tr class="title">
            <th>Tài liệu</th>
            <th>Tiêu đề</th>
            <th>Được tạo bởi</th>
            <th>Thời gian</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)
            {
                foreach (var it in item.TaiLieux)
                {
                    <tr class="noidung">
                        <td> @it.link</td>
                        <td> @it.moTa </td>
                        <td> @it.TaiKhoan.Giangviens.FirstOrDefault().hovaten  </td>
                        <td> @it.LopHoc.tenLopHoc</td>
                    </tr>
                }
            }*@

        @if (Model != null)
        {
            foreach (var it in Model)
            {
                <tr class="noidung">
                    <td>
                        @if (it.trangThai == 0)
                        {
                            <span>Đã đóng</span>
                        }else
                        if (it.link.ToString().Split('.')[it.link.ToString().Split('.').Count() - 1] == "mp3")
                        {
                            <audio controls>
                                <source src="~/@Url.Content(it.link)" type="audio/ogg">
                            </audio>
                        }
                        else if (it.link.ToString().Contains("</p>"))
                        {
                            <button type="button" class="btn-sm btn-primary" data-toggle="ajax-modal" data-target="#modal-edit-lg" data-url="@Url.Action($"XemCK/{it.ID}")">  <i class="fa fa-pen"></i>Xem</button>
                        }
                        else
                        {<a href="~/@it.link" download=""><i class="fas fa-download"></i></a>}

                    </td>
                    <td> @it.ten </td>
                    <td> @it.TaiKhoan.hovaten  </td>
                    <td> @it.thoiGian</td>
                </tr>
            }
        }

    </tbody>
</table>
<div id="showModal"></div>
<script>

    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
    $(function () {
        var ShowModal = $('#showModal');
        $('button[data-toggle="ajax-modal"]').click(function (event) {           
            var url = $(this).data('url');
            $.get(url).done(function (data) {               
                ShowModal.html(data);
                ShowModal.find('.modal').modal('show');
            })
        })
    });
</script>