@model WebEng.Models.LoginModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Đăng Nhập</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="all,follow">
	<!-- Bootstrap CSS-->
	<link rel="stylesheet" href="@Url.Content("~/Content/Login/vendor/bootstrap/css/bootstrap.min.css")">
	<!-- Font Awesome CSS-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<!-- Google fonts - Popppins for copy-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,800">
	<!-- orion icons-->
	<link rel="stylesheet" href="@Url.Content("~/Content/Login/css/orionicons.css")">
	<!-- theme stylesheet-->
	<link rel="stylesheet" href="@Url.Content("~/Content/Login/css/style.default.css")" id="theme-stylesheet">
	<!-- Custom stylesheet - for your changes-->
	<link rel="stylesheet" href="@Url.Content("~/Content/Login/css/custom.css")">
	<!-- Favicon-->
	<link rel="shortcut icon" href="@Url.Content("~/Content/Login/img/favicon.png?3")">

</head>
<body>
    <div class="page-holder d-flex align-items-center">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-5 col-lg-7 mx-auto mb-5 mb-lg-0">
                    <a class="pr-lg-5" href="~/Home"><img src="@Url.Content("~/Content/Login/img/english-logo.png")" alt="Trang chủ" class="img-fluid"></a>
                </div>
                <div class="col-lg-5 px-lg-4">

                    <a href="~/Home" style="font-family: cursive;font-style: oblique; font-weight:bold;" class="text-base-lg text-primary  mb-4">TiengAnhOnline.Com</a>
                    <h2 class="mb-4">Chào mừng!</h2>
                    <p class="text-muted">Cùng nhau tạo ra nhiều giá trị hơn cho xã hội!</p>



                    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                        <div class="form-group mb-4">
                            @Html.TextBoxFor(model => model.userName, new { @class = "form-control border-0 shadow form-control-lg", @placeholder = "Tên đăng nhập", @name = "username", @autofocus = "autofocus", @required = "required" })

                        </div>
                        <div class="form-group mb-4">
                            @Html.PasswordFor(model => model.passWord, new { @class = "form-control border-0 shadow form-control-lg text-violet", @placeholder = "Mật khẩu", @name = "password", @required = "required" })

                        </div>

                        <div class="form-group mb-4">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBoxFor(model => model.rememberMe, new { @class = "custom-control-input", @id = "customCheck1" })
                                <label for="customCheck1" class="custom-control-label">Ghi nhớ</label>
                            </div>
                        </div>
                        <div class="form-group md-4">
                            <button type="submit" class="btn btn-primary shadow px-5 "> <strong>Đăng Nhập</strong></button>
                            <a href="@Url.Action("LoginFace", "Login")" class="btn btn-secondary float-right">
                                <i class="fa fa-camera"></i>
                                <span>
                                    <strong>Đăng Nhập Bằng Mặt</strong>
                                </span>
                            </a>    
                        </div>
                        
                    }
                   
                </div>
            </div>
            <p class="mt-5 mb-0 text-gray-400 text-center">Thiết kế bởi nhóm sinh viên trường Đại học Duy Tân</p>
            <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)                 -->
        </div>
    </div>

    <script src="@Url.Content("~/Content/Login/vendor/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/Login/vendor/popper.js/umd/popper.min.js")"></script>
    <script src="@Url.Content("~/Content/Login/vendor/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/Login/vendor/jquery.cookie/jquery.cookie.js")"></script>
    <script src="@Url.Content("~/Content/Login/vendor/chart.js/Chart.min.js")"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="@Url.Content("~/Content/Login/js/front.js")"></script>
</body>
</html>

